body{
    background-color:black;
}
.navbar
{
   background-color:black;
   border-bottom:2px solid #20c20e;
   position:fixed;
   width:100%;
}
.Name
{
    color:#20c20e;
}
.nav-link
{
    color:white;
    transition: all 0.2s linear;

}
.navbar-dark, .nav-link:hover, .nav-link:focus{
    color: #20c20e;
}
.Background-Image{
    width:100%;
}
.navbar-toggler{
    border:0px;
    
}
.custom-toggler .navbar-toggler-icon{
    background-image:url(../Images/NavbarMenu.png);
}
.py-4
{
    color:#20c20e;
}
