/*HTML*/

body{
    background-color:black;
}
hr{
  height: 1px;
  background: #eae3e3;
  border: none;
 }
 h5{
  color:var(--DesiredColor);
  margin-top:50px;
}
.navbar
{
   background-color:black;
   border-bottom:2px solid var(--DesiredColor);
   position:fixed;
   width:100%;
   z-index:9999;
}
.Name
{
    color:var(--DesiredColor);
}
.nav-link
{
    color: #eae3e3;
    transition: all 0.2s linear;
    font-size:110%;
}
.navbar-dark, .nav-link:hover, .nav-link:focus{
    color: var(--DesiredColor);
}
.Background-Image{
    width:100%;
}
.navbar-toggler{
    border:0px;   
}
.py-4
{
    color: #eae3e3;
    text-shadow: 0 0 3px var(--DesiredColor); 
}
.Logo{
    padding-right:2%;
}
/* Parallax */

#parallax-image1{
    animation-name: myfirst;
    animation-iteration-count: infinite;
    animation-duration:6s;
    animation-direction: alternate;
    background-image: url(../Images/Before.jpg);
    height:1080px;
    margin-bottom:20px;
    background-attachment: fixed;
    background-position:center;
    background-repeat:no-repeat;
    background-size:100%;
  }
  #parallax-image2{
    animation-name: SediJedanAnimation;
    animation-iteration-count: infinite;
    animation-duration:9s;
    animation-direction: alternate;
    background-image: url(../Images/SediJedan1.jpeg);
    height:1080px;
    margin-bottom:20px;
    background-attachment: fixed;
    background-position:center;
    background-repeat:no-repeat;
    background-size:100%;
  }
  #parallax-image3{
    background-image: url(../Videos/GdePadatePic.gif);
    height:1080px;
    margin-bottom:20px;
    background-attachment: fixed;
    background-position:center;
    background-repeat:no-repeat;
    background-size:100%;
  }
  .paratext{
    color:var(--DesiredColor);
  }

.paratext2{
    color:#eae3e3;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: black;
    text-shadow: 0 0 7px #FF0000; 
  }
  .Link
  {
      color:#eae3e3;
      transition: all 0.2s linear;
  }
  .Link:hover{
    color: #eae3e3;
    text-shadow: 0 0 3px var(--DesiredColor);
}

    #AboutText{
      width: 100%; 
   border-bottom: 1px solid #eae3e3; 
   line-height: 0.1em;
   margin-top:10 0 20px;
   margin-bottom:50px;
    }
    #AboutText span { 
      background:#eae3e3; 
      padding:0 10px; 
      border-radius:10px;
  }
 
#WhiteText
{
  color: #eae3e3;
}
#LinkedIn
{
  color:var(--DesiredColor);
  transition: all 0.2s linear;
}
#LinkedIn:hover
{
  color:rgba(0,255,255,0.7);
}
.MyImage
{
  border-radius:50%;
  width:200px;
}
.MyImagee::before,
.MyImagee::after{
  flex: 1;
  content: '';
  height: 2px;
  background: #eae3e3;
}
.MyImagee{
  display: flex;
  align-items: center;
}
#DownloadCv{
  color:var(--DesiredColor);
  transition: all 0.2s linear;
}
#DownloadCv:hover{
  color:#b148d2;
}
.Background-Image-About{
  margin-bottom:-100px;
}
/*Animations*/

    @keyframes SediJedanAnimation {
    0%,16%
    {
    background-image: url('../Images/SediJedan2.jpeg')
    }
    16%,32%
    {
    
    }
    32%,48%
    {
    background-image: url('../Images/SediJedan3.jpeg')
    }
    48%,64%
    {
    
    }
    64%,80%
    {
    background-image: url('../Images/SediJedan1.jpeg')
    }
    80%,100%
    {
    
    }
    
    }@keyframes myfirst {
    /*from {background-image: url('../pictures/BEFORE.jpg')}
    to {background-image: url('../pictures/AFTER.jpg')}*/
    0%,25%
    {
      background-image: url('../Images/BEFORE.jpg')
    }
    25%,50%
    {
    
    }
    50%,75%
    {
      background-image: url('../Images/AFTER.jpg')
    }
    75%,100%
    {
    
    }
    
    }

    @media only screen and (max-width: 670px) {
      .Background-Image{
        height:250px;
      }
    }
    @media only screen and (max-width: 570px) {
      .Background-Image{
        height:230px;
      }
      }
      @media only screen and (max-width: 470px) {
        .Background-Image{
          height:215px;
        }
        }
        @media only screen and (max-width: 367px) {
          .Background-Image{
            height:260px;
          }
        }
    /*ee*/